# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
# from config import gkey
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
clean_city_data_df= pd.read_csv(
    "Resources/clean_cities.csv", dtype="object", encoding="utf-8")

# Visualize
clean_city_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,eureka,66.0,US,1595300578.0,7.0,40.8,-124.16,59.0,4.43
1,hilo,75.0,US,1595300777.0,65.0,19.73,-155.09,82.4,10.29
2,albany,3.0,US,1595300778.0,87.0,42.6,-73.97,78.01,4.76
3,hofn,93.0,IS,1595300584.0,75.0,64.25,-15.21,52.61,1.16
4,zeya,15.0,RU,1595300778.0,43.0,53.75,127.27,73.06,12.44
...,...,...,...,...,...,...,...,...,...
546,skibbereen,40.0,IE,1595300913.0,81.0,51.55,-9.27,51.8,8.05
547,nabire,54.0,ID,1595300913.0,61.0,-3.37,135.48,86.81,5.53
548,zenzeli,74.0,RU,1595300913.0,56.0,45.92,47.05,82.13,5.3
549,emerald,100.0,AU,1595300914.0,36.0,-23.53,148.17,60.8,13.87
550,turka,94.0,UA,1595300914.0,97.0,49.15,23.03,59.0,13.0

In [3]:
#Drop the empty values and clean the table
nan_value = float("NaN")
clean_city_data_df.replace("", nan_value, inplace = True)
clean_city_data_df.dropna(subset = ["Country"], inplace = True)
clean_city_data_df.dropna(subset = ["Cloudiness"], inplace = True)
clean_city_data_df.dropna(subset = ["Date"], inplace = True)
clean_city_data_df.dropna(subset = ["Humidity"], inplace = True)
clean_city_data_df.dropna(subset = ["Lat"], inplace = True)
clean_city_data_df.dropna(subset = ["Lng"], inplace = True)
clean_city_data_df.dropna(subset = ["Max_Temp"], inplace = True)
clean_city_data_df.dropna(subset = ["Wind_Speed"], inplace = True)
clean_city_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,eureka,66.0,US,1595300578.0,7.0,40.8,-124.16,59.0,4.43
1,hilo,75.0,US,1595300777.0,65.0,19.73,-155.09,82.4,10.29
2,albany,3.0,US,1595300778.0,87.0,42.6,-73.97,78.01,4.76
3,hofn,93.0,IS,1595300584.0,75.0,64.25,-15.21,52.61,1.16
4,zeya,15.0,RU,1595300778.0,43.0,53.75,127.27,73.06,12.44
...,...,...,...,...,...,...,...,...,...
546,skibbereen,40.0,IE,1595300913.0,81.0,51.55,-9.27,51.8,8.05
547,nabire,54.0,ID,1595300913.0,61.0,-3.37,135.48,86.81,5.53
548,zenzeli,74.0,RU,1595300913.0,56.0,45.92,47.05,82.13,5.3
549,emerald,100.0,AU,1595300914.0,36.0,-23.53,148.17,60.8,13.87
550,turka,94.0,UA,1595300914.0,97.0,49.15,23.03,59.0,13.0

In [4]:
clean_city_data_df.count()

City          544
Cloudiness    544
Country       544
Date          544
Humidity      544
Lat           544
Lng           544
Max_Temp      544
Wind_Speed    544
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [7]:
# Store 'Lat' and 'Lng' into  locations 
locations = clean_city_data_df[["Lat", "Lng"]].astype(float)
humidity = clean_city_data_df["Humidity"].astype(float)
humidity

0       7.0
1      65.0
2      87.0
3      75.0
4      43.0
       ...
546    81.0
547    61.0
548    56.0
549    36.0
550    97.0
Name: Humidity, Length: 544, dtype: float64

In [8]:
#addig heatmap
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
plt.savefig("Figures/Heat_Map.png")

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# Create the Ideal vacation = Tempretaure between 60 and 85 F, wind speed lower than 20mph, and cloudiness <3

ideal_vacation_df = clean_city_data_df[clean_city_data_df["Max_Temp"] > "60"]
ideal_vacation_df = ideal_vacation_df[ideal_vacation_df["Max_Temp"] < "85"]
ideal_vacation_df = ideal_vacation_df[ideal_vacation_df["Wind_Speed"] < "15"]
ideal_vacation_df = ideal_vacation_df[ideal_vacation_df["Cloudiness"] == "0.0"]
ideal_vacation_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
46,awbari,0.0,LY,1595300789.0,36.0,26.59,12.78,80.49,14.47
50,sabha,0.0,LY,1595300790.0,37.0,27.04,14.43,78.78,14.99
84,guerrero negro,0.0,MX,1595300800.0,69.0,27.98,-114.06,70.66,12.53
108,kaya,0.0,BF,1595300807.0,65.0,13.09,-1.08,80.76,10.71
154,carnarvon,0.0,AU,1595300557.0,46.0,-24.87,113.63,69.8,11.41
200,ziarat,0.0,PK,1595300831.0,49.0,30.38,67.73,69.62,1.92
275,tahta,0.0,EG,1595300850.0,32.0,26.77,31.5,82.4,10.29
301,svobodnyy,0.0,RU,1595300856.0,41.0,51.4,128.13,76.46,12.35
333,kasongo-lunda,0.0,CD,1595300864.0,39.0,-6.47,16.82,62.96,1.59
341,monterey,0.0,US,1595300866.0,20.0,36.25,-121.25,75.99,1.01
356,evensk,0.0,RU,1595300683.0,40.0,61.95,159.23,68.79,11.25
370,boysun,0.0,UZ,1595300872.0,20.0,38.21,67.2,80.56,1.01
432,mahabad,0.0,IR,1595300887.0,37.0,36.76,45.72,76.57,0.92
459,constantine,0.0,DZ,1595300893.0,60.0,36.37,6.61,69.8,1.12
487,bucharest,0.0,RO,1595300750.0,93.0,44.43,26.11,66.99,1.88
528,visby,0.0,SE,1595300909.0,77.0,57.64,18.3,61.0,10.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
maps_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [12]:
hotel_df = ideal_vacation_df.loc[:, ["City", "Country", "Lat", "Lng", "Max_Temp"]]

for index, row in hotel_df.iterrows():
    # pull in needed data
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"
    print(f"display the results {index}: {city_name}.")
    response = requests.get(maps_url, params=params).json()
    final_results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Nearby hotel in {city_name} is {final_results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = final_results[0]['name']

    # if there is no hotel available print this
    except (KeyError, IndexError):
        print("Not a hotel... next.")
        
        print("-------End of Search-------")

display the results 46: awbari.
Not a hotel... next.
-------End of Search-------
display the results 50: sabha.
Nearby hotel in sabha is فندق المواجيد.
display the results 84: guerrero negro.
Nearby hotel in guerrero negro is Hotel Los Caracoles.
display the results 108: kaya.
Nearby hotel in kaya is Pacific Hotel Kaya.
display the results 154: carnarvon.
Nearby hotel in carnarvon is Hospitality Carnarvon.
display the results 200: ziarat.
Nearby hotel in ziarat is Grand Hotel.
display the results 275: tahta.
Nearby hotel in tahta is El Salam Hotel.
display the results 301: svobodnyy.
Nearby hotel in svobodnyy is Dolce Vita апарт-отель.
display the results 333: kasongo-lunda.
Not a hotel... next.
-------End of Search-------
display the results 341: monterey.
Not a hotel... next.
-------End of Search-------
display the results 356: evensk.
Not a hotel... next.
-------End of Search-------
display the results 370: boysun.
Nearby hotel in boysun is Gaza Hotel.
display the results 432: mahabad.
Nearby hotel in mahabad is Afshar Hotel.
display the results 459: constantine.
Nearby hotel in constantine is Constantine Marriott Hotel.
display the results 487: bucharest.
Nearby hotel in bucharest is JW Marriott Bucharest Grand Hotel.
display the results 528: visby.
Nearby hotel in visby is Hotell Slottsbacken.

In [13]:
hotel_df

,City,Country,Lat,Lng,Max_Temp,Hotel Name
46,awbari,LY,26.59,12.78,80.49,NaN
50,sabha,LY,27.04,14.43,78.78,فندق المواجيد
84,guerrero negro,MX,27.98,-114.06,70.66,Hotel Los Caracoles
108,kaya,BF,13.09,-1.08,80.76,Pacific Hotel Kaya
154,carnarvon,AU,-24.87,113.63,69.8,Hospitality Carnarvon
200,ziarat,PK,30.38,67.73,69.62,Grand Hotel
275,tahta,EG,26.77,31.5,82.4,El Salam Hotel
301,svobodnyy,RU,51.4,128.13,76.46,Dolce Vita апарт-отель
333,kasongo-lunda,CD,-6.47,16.82,62.96,NaN
341,monterey,US,36.25,-121.25,75.99,NaN
356,evensk,RU,61.95,159.23,68.79,NaN
370,boysun,UZ,38.21,67.2,80.56,Gaza Hotel
432,mahabad,IR,36.76,45.72,76.57,Afshar Hotel
459,constantine,DZ,36.37,6.61,69.8,Constantine Marriott Hotel
487,bucharest,RO,44.43,26.11,66.99,JW Marriott Bucharest Grand Hotel
528,visby,SE,57.64,18.3,61.0,Hotell Slottsbacken

In [14]:
#Replace the emppty values with Nan=N, then clean the data frame from the NaN values
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace = True)
hotel_df.dropna(subset = ["Hotel Name"], inplace = True)
hotel_df

,City,Country,Lat,Lng,Max_Temp,Hotel Name
50,sabha,LY,27.04,14.43,78.78,فندق المواجيد
84,guerrero negro,MX,27.98,-114.06,70.66,Hotel Los Caracoles
108,kaya,BF,13.09,-1.08,80.76,Pacific Hotel Kaya
154,carnarvon,AU,-24.87,113.63,69.8,Hospitality Carnarvon
200,ziarat,PK,30.38,67.73,69.62,Grand Hotel
275,tahta,EG,26.77,31.5,82.4,El Salam Hotel
301,svobodnyy,RU,51.4,128.13,76.46,Dolce Vita апарт-отель
370,boysun,UZ,38.21,67.2,80.56,Gaza Hotel
432,mahabad,IR,36.76,45.72,76.57,Afshar Hotel
459,constantine,DZ,36.37,6.61,69.8,Constantine Marriott Hotel
487,bucharest,RO,44.43,26.11,66.99,JW Marriott Bucharest Grand Hotel
528,visby,SE,57.64,18.3,61.0,Hotell Slottsbacken

In [20]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#modify Lat and Lng into Float
hotel_df["Lat"] = hotel_df["Lat"].astype(float)
hotel_df["Lng"] = hotel_df["Lng"].astype(float)
locations = hotel_df[["Lat", "Lng"]]

# hotel_info

In [21]:
locations.dtypes

Lat    float64
Lng    float64
dtype: object

In [32]:
#set the hotel markers on the heat map
hotel_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()                             
fig.add_layer(hotel_markers)
fig.add_layer(heat_layer)
plt.savefig("Figures/Hotel_Map")

In [33]:
#display the map
fig

Figure(layout=FigureLayout(height='420px'))