# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
# from config import gkey
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
clean_city_data_df= pd.read_csv(
    "clean_cities.csv", dtype="object", encoding="utf-8")

# Visualize
clean_city_data_df

,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,east london,0.0,ZA,1970-01-01 00:00:01.595108460,42.0,-33.02,27.91,65.05,10.33
1,khatanga,100.0,RU,1970-01-01 00:00:01.595108744,78.0,71.97,102.5,47.1,4.29
2,rikitea,23.0,PF,1970-01-01 00:00:01.595108744,79.0,-23.12,-134.97,72.41,19.22
3,punta arenas,90.0,CL,1970-01-01 00:00:01.595108688,80.0,-53.15,-70.92,35.6,18.34
4,fairbanks,90.0,US,1970-01-01 00:00:01.595108640,68.0,64.84,-147.72,64.4,11.41
...,...,...,...,...,...,...,...,...,...
559,nova odesa,38.0,UA,1970-01-01 00:00:01.595108879,60.0,47.31,31.79,67.19,7.76
560,oranjemund,0.0,NaN,1970-01-01 00:00:01.595108880,38.0,-28.55,16.43,60.87,5.93
561,toyooka,40.0,JP,1970-01-01 00:00:01.595108880,88.0,35.53,134.83,73.4,3.36
562,bandarbeyla,22.0,SO,1970-01-01 00:00:01.595108880,62.0,9.49,50.81,79.54,32.59
563,mansa,1.0,IN,1970-01-01 00:00:01.595108880,49.0,29.98,75.38,92.75,4.65

In [32]:
nan_value = float("NaN")
clean_city_data_df.replace("", nan_value, inplace = True)
clean_city_data_df.dropna(subset = ["Country"], inplace = True)
clean_city_data_df.dropna(subset = ["Cloudiness"], inplace = True)
clean_city_data_df.dropna(subset = ["Date"], inplace = True)
clean_city_data_df.dropna(subset = ["Humidity"], inplace = True)
clean_city_data_df.dropna(subset = ["Lat"], inplace = True)
clean_city_data_df.dropna(subset = ["Lng"], inplace = True)
clean_city_data_df.dropna(subset = ["Max_Temp"], inplace = True)
clean_city_data_df.dropna(subset = ["Wind_Speed"], inplace = True)
clean_city_data_df
# VC_cities_df = V_cities_df
# VC_cities_df

,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,east london,0.0,ZA,1970-01-01 00:00:01.595108460,42.0,-33.02,27.91,65.05,10.33
1,khatanga,100.0,RU,1970-01-01 00:00:01.595108744,78.0,71.97,102.5,47.1,4.29
2,rikitea,23.0,PF,1970-01-01 00:00:01.595108744,79.0,-23.12,-134.97,72.41,19.22
3,punta arenas,90.0,CL,1970-01-01 00:00:01.595108688,80.0,-53.15,-70.92,35.6,18.34
4,fairbanks,90.0,US,1970-01-01 00:00:01.595108640,68.0,64.84,-147.72,64.4,11.41
...,...,...,...,...,...,...,...,...,...
558,esperance,40.0,AU,1970-01-01 00:00:01.595108879,100.0,-33.87,121.9,48.2,2.24
559,nova odesa,38.0,UA,1970-01-01 00:00:01.595108879,60.0,47.31,31.79,67.19,7.76
561,toyooka,40.0,JP,1970-01-01 00:00:01.595108880,88.0,35.53,134.83,73.4,3.36
562,bandarbeyla,22.0,SO,1970-01-01 00:00:01.595108880,62.0,9.49,50.81,79.54,32.59
563,mansa,1.0,IN,1970-01-01 00:00:01.595108880,49.0,29.98,75.38,92.75,4.65

In [33]:
clean_city_data_df.count()

 Cities       558
Cloudiness    558
Country       558
Date          558
Humidity      558
Lat           558
Lng           558
Max_Temp      558
Wind_Speed    558
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
gmaps.configure(api_key=g_key)

In [35]:
# Store 'Lat' and 'Lng' into  locations 
locations = VC_cities_df[["Lat", "Lng"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
# V_cities = V_cities.dropna()
things = VC_cities_df["Humidity"].astype(float)

In [36]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = things, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

# A max temperature lower than 80 degrees but higher than 70.

# Wind speed less than 10 mph.

# Zero cloudiness.

# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [38]:
VC_cities_df.count()

 Cities       558
Cloudiness    558
Country       558
Date          558
Humidity      558
Lat           558
Lng           558
Max_Temp      558
Wind_Speed    558
dtype: int64

In [39]:
# ideal_vacation = V_cities_df[V_cities_df["Max_Temp"] > 70]
# ideal_vacation

ideal_vacation = VC_cities_df[VC_cities_df["Max_Temp"] > 70]
# ideal_vacation = ideal_vacation[ideal_vacation["Max_Temp"] < 80]
# ideal_vacation = ideal_vacation[ideal_vacation["Wind_Speed"] < 10]
# ideal_vacation = ideal_vacation[ideal_vacation["Cloudiness"] == 0]
ideal_vacation

TypeError: '>' not supported between instances of 'str' and 'int'

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
ideal_vacation["Hotel Name"] = ''
ideal_vacation = ideal_vacation.reset_index()
ideal_vacation = ideal_vacation[['City', 'Cloudiness', 'Country', 'Date', 'Humidity', 'Latitude', 'Longitude', 'Max Temp', 
                                'Wind Speed', 'Hotel Name']]
ideal_vacation = pd.DataFrame(ideal_vacation)
hotel_df = []
import json
ideal_vacation

NameError: name 'ideal_vacation' is not defined

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure